{% extends "base.html" %}
{% block title %}Redeemed tickets{% endblock %}
{% block content %}
  <h1>Redeemed tickets</h1>
  <p>Showing tickets redeemed yesterday and today (UTC).</p>
  {% if owners %}
    {% for owner in owners %}
      <h2>{{ owner.owner }}</h2>
      <ul>
        <li>
	Today: {{ owner.today_count }}
        {% for ticket in owner.today_tickets %}
          <li>{{ ticket.day }}: <span title="{{ ticket.tooltip }}">{{ loop.index }}</span></li>
        {% endfor %}
	</li>
        <li>
	Yesterday: {{ owner.yesterday_count }}
        {% for ticket in owner.yesterday_tickets %}
          <li>{{ ticket.day }}: <span title="{{ ticket.tooltip }}">{{ loop.index }}</span></li>
        {% endfor %}
	</li>
      </ul>
    {% endfor %}
  {% else %}
    <p>No tickets were redeemed yesterday or today.</p>
  {% endif %}
{% endblock %}
