{% extends "base.html" %}
{% block title %}Redeemed tickets{% endblock %}
{% block content %}
  <h1>Redeemed tickets</h1>
  <p>Showing tickets redeemed yesterday and today (UTC).</p>
  {% if owners %}
    {% for owner in owners %}
      <h2>{{ owner.owner }}</h2>
      <ul>
        <li>
	Today:
        {% for ticket in owner.today_tickets %}
        <a href="{{ ticket.url }}" title="{{ ticket.tooltip }}">{{ loop.index }}</a>
        {% endfor %}
	</li>
        <li>
	Yesterday:
        {% for ticket in owner.yesterday_tickets %}
        <a href="{{ ticket.url }}" title="{{ ticket.tooltip }}">{{ loop.index }}</a>
        {% endfor %}
	</li>
      </ul>
    {% endfor %}
  {% else %}
    <p>No tickets were redeemed yesterday or today.</p>
  {% endif %}
{% endblock %}
