{% extends "base.html" %}
{% block title %}Last 500 issued tickets{% endblock %}
{% block content %}
  <h1>Last 500 issued tickets</h1>
  {% if tickets %}
    <table>
      <thead>
        <tr>
          <th>Issued</th>
          <th>Issued to</th>
          <th>Issued by</th>
          <th>Purpose</th>
          <th>Payment</th>
          <th>Redeemed at</th>
          <th>Redeemed by</th>
          <th>Redemption reason</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <td><a href="{{ ticket.url }}">{{ ticket.issued.strftime('%Y-%m-%d %H:%M:%S UTC') }}</a></td>
            <td>{% if ticket.issued_to.url %}<a href="{{ ticket.issued_to.url }}">{{ ticket.issued_to.label }}</a>{% else %}{{ ticket.issued_to.label }}{% endif %}</td>
            <td>{% if ticket.issued_by.url %}<a href="{{ ticket.issued_by.url }}">{{ ticket.issued_by.label }}</a>{% else %}{{ ticket.issued_by.label }}{% endif %}</td>
            <td>{{ ticket.purpose }}</td>
            <td>{{ ticket.payment }}</td>
            <td>{% if ticket.redeemed_at %}<a href="{{ ticket.url }}">{{ ticket.redeemed_at }}</a>{% endif %}</td>
            <td>{% if ticket.redeemed_by.url %}<a href="{{ ticket.redeemed_by.url }}">{{ ticket.redeemed_by.label }}</a>{% else %}{{ ticket.redeemed_by.label }}{% endif %}</td>
            <td>{{ ticket.redeemed_reason }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tickets found.</p>
  {% endif %}
{% endblock %}
